.button {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: transform 0.2s;
    position: relative;
    font-size: $defaultFontSize;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color: $shadowBlack, $alpha: 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color: $shadowBlack, $alpha: 0.2);
  }

  &--white {
    background-color: $white;
    color: $text;
    &::after {
      background-color: $white;
    }
  }

  &--green {
    background-color: $darkGreen;
    color: $white;
    &::after {
      background-color: $darkGreen;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.8s ease-out 0.75s backwards;
  }
}

.button__text {
  &:link,
  &:visited {
    font-size: $defaultFontSize;
    color: $mediumGreen;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $mediumGreen;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $mediumGreen;
    color: $white;
    box-shadow: 0 1rem 2rem rgba($color: $shadowBlack, $alpha: 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color: $shadowBlack, $alpha: 0.15);
    transform: translateY(0);
  }
}
