@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*

0 - 600px:      Phone
600 - 900px:    Tablet portrair 
900 - 1200px:   Tablet landscape
[1200-1800px] is where our normal styles apply
1800px +:       Big desktop


$brakepoint arguement choices:
- phone
-tabPort
-tabLand
-bigDeskop

ORDER: base + typography > general layout + grid > components   || kolejnosc działania

1em = 16px
*/

@mixin respond($brakepoint) {
  @if $brakepoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $brakepoint == tabPort {
    @media only screen and (max-width: 56.26em) {
      //900px
      @content;
    }
  }

  @if $brakepoint == tabLand {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $brakepoint == bigDeskop {
    @media only screen and (min-width: 112.5em) {
      //1800px and bigger
      @content;
    }
  }
}
