//COLORS
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;

//cards collors

$lightOrange: #ffb900;
$darkOrange: #ff7730;

$lightBlue: #2998ff;
$darkBlue: #5643fa;

$greyLight1: #f7f7f7;
$greyLight2: #eee;

$text: #777;
$white: #fff;
$shadowBlack: #000;

//GRID

$gridWidth: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontial: 6rem;

//FONT

$defaultFontSize: 1.6rem;
